html { padding:10px; }

body {
  border:0;
  background:#fff;
  font: 13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
  color:#333333;
  padding:10px;
  line-height:1.35em;
  margin:0;
  padding:0;
}
