html, body {
    height: 100%;
}

#top {
    position: absolute;
    z-index: 20;
    top: 50px;
    margin: 0 20px;
}

#header {
    padding: 0;
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
}

#header #logo img{
    margin-top: 7px;
}

#header #zoosklad img{
    margin-top: 4px;
}

#header #logo, #header #zoosklad {
    text-align: center;
}

#header .nav {
    margin-bottom: 0;
    margin-top: 0px;
    text-align: center;
}

#content {
    position: relative;
    height: auto !important;
    min-height: 100%;
    display: block;
    margin: 0;
}

#content .container {
    
}


#content .item h3.title {
    margin: 5px 0 10px 0;
    font-size: 19px;
    line-height: 30px;
}

#content .item .profileicon {
    margin-top: -3px;
}

#content h1 {
    font-size: 22px;
    line-height: 33px;
    margin: 0 0 10px 0;
}

#epic {
    height: 350px;
    background-color: white;
    border: 1px solid #CCC;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

.form-horizontal #epic {
    height: 150px;
}

#id_tags, #id_body, #id_comment, #id_tease, #post_form #id_title {
    width: 95%;
}

#id_comment {
    height: 100px;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    max-width: 1280px;
    /* Negative indent footer by it's height */
    margin: 0 auto -50px;
    padding: 0 30px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 50px;
}
#footer {
    background-color: #EEE;
    font-size: 13px;
    line-height: 16px;
}

#footer .container-fluid {
    padding-top: 10px;
}

#footer .badge {
    font-size: 14px;
    line-height: 21px;
}

#fiels_honeypot {
    display: none;
}

.commenticon {
    float: left;
    margin: 0 10px 10px 0;
    /*box-shadow: 0 0 4px 1px lightCoral;*/
}

.commenticon.online {
    /*box-shadow: 0 0 4px 1px lightgreen;*/
}

.commentbody {
    margin-left: 65px;
    margin-bottom: 10px;
}

.edit {
    margin: 5px 0;
}

.comment, .wall {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 0 5px;
    margin: 10px -5px;
    position: relative;
    border-bottom: 1px solid #EEE;
}

.comment p.name, .wall p.name {
    font-size: 13px;
    line-height: 18px;
}

.comment.answ {
    border: 1px solid red;
}

.comment_img {
    position: relative;
    float: left;
    margin: 5px;
}

.comment_img .add_img_to_c {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    line-height: 12px;
    width: 100%;
    cursor: pointer;
}

.comment_img .del_img_to_c {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
    line-height: 13px;
    color: red;
    padding: 0px 3px;
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

.blogfile .comment_img .add_img_to_c {
    font-size: 13px;
    line-height: 20px;
}

.blogfile .comment_img .del_img_to_c {
    font-size: 13px;
    line-height: 20px;
}

.addansw, .delansw {
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.comment .vote {
    position: absolute;
    top: -6px;
    right: 5px;
}

.post {
    position: relative;
}

.wall .vote {
    position: absolute;
    top: -6px;
    right: 5px;
}

.post-footer .vote {
    margin: 0 10px 0 0;
}

.post-footer {
    position: relative;
    min-height: 20px;
    padding: 9px 0;
}

.comment .vote .btn-group, .wall .vote .btn-group{
    margin: 0 10px;
}

.comment.answ .addansw {
    display:none;
}

.comment .delansw {
    display:none;
}

.comment.answ .delansw {
    display:block;
}

#comments.onibdex .addansw {
    display: none;
}

#comments {
    padding: 0 5px;
}

.group_icon {
    text-align: center;
    margin: 0 0 15px 0;
}

.groupicon {
    float: left;
    margin: 0 10px 10px 0;
}

blockquote p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #BD6262;
}
.comment.active_comment {
    border-color: #638163;
    background-color: #EFFFEF;
}

.spoiler_body {
    padding: 5px 10px;
    background-color: #EEE;
    margin: 10px 0px;
    border-radius: 3px;
}

#posts .item, .post_list .item {
    border-bottom: 1px solid #EEE;
    margin-bottom: 35px;
    padding-bottom: 10px;
}

#field_body .controls {
    margin-left: 0;
}

#userfiles {
    display: table;
    width: 100%;
}

.comment .comment-edit, .wall .comment-edit{
    width: 100%;
    height: 120px;
}

.add-post {
    margin-top: -60px;
}

.online.user_status {
    background-color: rgba(144, 238, 144, 0.3);
}

.offline.user_status {
    background-color: rgba(240, 128, 128, 0.3);
}

.profileicon {
    margin: -3px 0 0 0;
}

.breadcrumb {
    margin-bottom: 5px;
}

span.splr {
    display: none;
    background-color: #EEE;
    padding: 2px 5px;
} 

.font1 {
    font-size: 100%;
}
.font2 {
    font-size: 150%;
}
.font3 {
    font-size: 200%;
}
.font4 {
    font-size: 250%;
}
.font5 {
    font-size: 300%;
}

.roll {
    color: darkgreen;
    font-size: 17px;
    padding: 2px 7px;
    border: 1px solid;
}

.no-margin-left {
    margin-left: 0 !important;
}

.post_body {
    margin-bottom: 20px;
}