{% extends 'umessages/base_message.html' %}

{% block title %}Переписка с {{ recipient }}{% endblock %}

{% block content_title %}
    <a class="btn pull-right" style="margin: 10px 0;" href="{% url userena_umessages_compose_to recipient %}">Написать</a>
    <h3>Переписка с {{ recipient }}</h3>
{% endblock %}

{% block content %}
    {% load thumbnail %}

    {% if is_paginated %}
        {% url userena_umessages_detail recipient.username as baseurl %}
        {% include "_pagination.html" with baseurl=baseurl %}
    {% endif %}

    {% for message in message_list %}
    <div class="message">
        <p class="name">
           {{ message.sent_at|timesince }} назад ({{message.sent_at|date:"d.m.Y H:i"}})
        </p>

        <div class="commenticon">
            <img src="{{message.sender.profile.mugshot|thumbnail_url:'tocomment'}}" alt="{{ message.sender.profile.get_full_name_or_username }}" />
        </div>

        <div class="commentbody">
            {{ message.body|safe }}
        </div>
        <div class="clearfix"></div>
    </div>
    {% endfor %}

    {% if is_paginated %}
        {% url userena_umessages_detail recipient.username as baseurl %}
        {% include "_pagination.html" with baseurl=baseurl %}
    {% endif %}

{% endblock %}
