{% extends 'umessages/base_message.html' %}
{% load umessages_tags thumbnail %}

{% block title %}Сообщения{% endblock %}

{% block content_title %}
    <a class="pull-right btn" style="margin:20px 0;" href="{% url userena_umessages_compose %}">написать</a>
    {% get_unread_message_count_for user as unread_message_count %}
    <h2>Сообщения <small>{{ unread_message_count }} новых</small></h2>
{% endblock %}

{% block content %}

    {% if is_paginated %}
        {% url userena_umessages_list as baseurl %}
        {% include "_pagination.html" with baseurl=baseurl %}
    {% endif %}

    {% for message in message_list %}
        <div class="well well-small">
            <p><b>
            {% if message.from_user == user %}
                {% get_unread_message_count_between user and message.to_user as unread_between_count %}
                <a href="{% url userena_umessages_detail message.to_user.username %}">переписка с {{ message.to_user }}</a>
            {% else %}
                {% get_unread_message_count_between user and message.from_user as unread_between_count %}
                <a href="{% url userena_umessages_detail message.from_user.username %}">переписка с {{ message.from_user }}</a>
            {% endif %}
            </b>
                ({{ unread_between_count }} новых сообщений)
            </p>
            <div class="message">
                <p class="name">
                    {{ message.latest_message.sent_at|timesince }} назад ({{message.latest_message.sent_at|date:"d.m.Y H:i"}}),
                </p>

                <div class="commenticon">
                    <img src="{{message.latest_message.sender.profile.mugshot|thumbnail_url:'tocomment'}}" alt="{{ message.latest_message.sender.profile.get_full_name_or_username }}" />
                </div>

                <div class="commentbody">
                    {{ message.latest_message|safe }}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    {% endfor %}

    {% if is_paginated %}
        {% url userena_umessages_list as baseurl %}
        {% include "_pagination.html" with baseurl=baseurl %}
    {% endif %}

{% endblock %}
