{% extends 'umessages/base_message.html' %}

{% block title %}Новое сообщение{% endblock %}

{% block content_title %}<h2>Новое сообщение</h2>{% endblock %}

{% block content %}
<form action="" method="post" id="compose_message_form">
  {% csrf_token %}
  {% for field in form %}
     {% include 'field.html' %}
  {% endfor %}
  <input type="submit" name="send" value="Отправить" />
{% endblock %}
