{% extends "base-1c.html" %}

{% load i18n %}

{% block title %}{{ page.slug }}{% endblock %}
{% block li-groups %}active{% endblock %}

{% block content_title %}
  {% spaceless %}
	<div class="info">
		<span>
			<a href="{% url wakawaka_index %}">{% trans "Start" %}</a>
		</span>
		<span>
			<a href="{% url wakawaka_revision_list %}">{% trans "Recent revisions" %}</a>
		</span>
		<span>
			<a href="{% url wakawaka_page_list %}">{% trans "All Pages" %}</a>
		</span>
	</div>
	{% endspaceless %}
{% endblock %}