{% extends 'base-1c.html' %}

{% block li-users %}active{% endblock %}

{% block title %}Ошибка{% endblock %}
{% block content_title %}<h2>Ошибка</h2>{% endblock %}

{% load blog guardian_tags wall_tags pagination %}

{% block content %}
    <div class="row-fluid">
        <div class="span9">
                <form action="{% url wall-post-comment %}" class="form-horizontal" method="post">{% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {% for field in form %}
                        {% if not field.is_hidden %}
                            <div class="control-group{% if field.errors %} error{% endif %}" id="fiels_{{ field.html_name }}">
                                {{ field }}
                                {% if field.help_text %}
                                    <p class="help-block">{{ field.help_text|safe }}</p>
                                {% endif %}
                                {% if field.errors %}
                                    <span class="help-inline">{{ field.errors }}</span>
                                {% endif %}
                            </div>
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <input type="submit" name="post" value="Отправить" class="btn btn-success" />
                </form>
        </div>
    </div>

{% endblock %}
