{% extends "base-1c.html" %}

{% block title %}{% if group %}{{ group.title }}{% else %}Клубы{% endif %}{% endblock %}
{% block li-groups %}active{% endblock %}

{% block content_title %}
  {% load groups %}
  <h1><a href="{{ group.get_absolute_url }}">{{ group }}</a> {% block group_title %}{% endblock %}</h1>
{% endblock %}