{% extends "groups/base_groups.html" %}


{% block title %}{{ group }}{% endblock %}

{% block content %}
  {% load groups markup thumbnail guardian_tags wall_tags pagination %}
  {% get_obj_perms user for group as "group_perm" %}

    <div class="row-fluid">
        <div class="span4">
            <div class="group_icon">
                {% if group.icon %}
                    <img src="{% thumbnail group.icon 300x0 %}" class="profileicon" />
                {% endif %}
            </div>
            <p><b>Администратор клуба</b></p>
            <p>
                <img src="{% thumbnail group.creator.profile.mugshot 20x20 %}" class="profileicon" />
                <a href='{% url userena_profile_detail group.creator.username %}'>{% if group.creator.get_full_name %}{{group.creator.get_full_name}}{% else %}{{ group.creator.get_full_name }}{% endif %}</a>
            </p>
            {% if member_list %}
                <p><b>Участники клуба</b></p>
                <p>
                {% for member in member_list %}
                    <a href='{% url userena_profile_detail member.user.username %}'>{% if member.user.get_full_name %}{{member.user.get_full_name}}{% else %}{{ member.user.username }}{% endif %}</a>{%  if not forloop.last %},{% endif %}
                {% endfor %}
                </p>
            {% endif %}
            {% if user.is_authenticated %}
                <hr/>
                {% if group|is_member:user %}
                    {% if not group|is_owner:user %}
                        <p><a href="{% url left_group group.slug %}">Покинуть клуб</a></p>
                    {% endif %}
                {% else %}
                    <p><a href="{% url join_group group.slug %}">Вступить в клуб</a></p>
                {% endif %}
                {% if "change_group" in group_perm %}
                    <p><a href="{% url edit_group group.slug %}">Редактировать</a></p>
                    <p><a href="{% url remove_group group.slug %}">Удалить</a></p>
                {% endif %}
            {% endif %}
            {% if linkexchange_blocks.0 != '<!--1219604906152-->' %}<hr/><div class="well well-small" >
                {{linkexchange_blocks.0|safe}}
            </div>{% endif %}
        </div>
        <div class="span8">

            {% if group.tease %}
                <div class="well">
                    {{ group.tease|markdown }}
                </div>
            {% endif %}

            <div class="row-fluid">
                {% if topic_list %}
                    <div class="span6">
                        <p><b>Последние посты</b></p>
                        <p><ul>
                        {% for topic in topic_list %}
                            <li><a href="{{ topic.get_absolute_url }}" title="{{ topic.title }}" >{{ topic.title }}</a></li>
                        {% empty %}
                            <li>Никто еще ничего не написал.</li>
                        {% endfor %}
                    </ul></p>
                    </div>
                {% endif %}


                {% if group_blog_list %}
                    <div class="span6">
                        <p><b>Блоги клуба</b></p>
                        <p><ul>
                        {% for blog in group_blog_list %}
                            <li><a href="{{ blog.get_absolute_url }}" title="перейти в блог">{{ blog.title }}</a></li>
                        {% endfor %}
                        </ul></p>
                    </div>
                {% endif %}

            </div>
            <hr/>

            {% get_wallitem_list for group as wallitem_list %}
            {% autopaginate wallitem_list %}

        {% if user.is_authenticated %}
            {% get_wallitem_form for group as wall_form %}


            <form action="{% url wall-post-comment %}" class="form-horizontal" method="post">{% csrf_token %}
                <input type="hidden" name="next" value="{{ group.get_absolute_url }}">
                {% for field in wall_form %}
                    {% if not field.is_hidden %}
                        <div class="control-group{% if field.errors %} error{% endif %}" id="fiels_{{ field.html_name }}">
                            {{ field }}
                            {% if field.help_text %}
                                <p class="help-block">{{ field.help_text|safe }}</p>
                            {% endif %}
                            {% if field.errors %}
                                <span class="help-inline">{{ field.errors }}</span>
                            {% endif %}
                        </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <input type="submit" name="post" value="Отправить" class="btn btn-success" />
            </form>

        {% endif %}

            {% for item in wallitem_list %}
                {% include 'wall.html' with comment=item %}
            {% empty %}
                <p>Никто ничего не писал.</p>
            {% endfor %}

            {% if page_obj.has_other_pages %}
                {% with group.get_absolute_url as baseurl %}
                    {% include "_pagination.html" with baseurl=baseurl %}
                {% endwith %}
            {% endif %}

        </div>
    </div>

{% endblock %}

{% block js %}
    {% if user.is_authenticated %}
    <script type="text/javascript" src="http://yandex.st/jquery/form/3.09/jquery.form.min.js"></script>
    <script type="text/javascript" >

        $('#ajaxform input').change(function() {
            $('#ajaxform').ajaxSubmit({
                success: showResponse,
                dataType:'json'
            });
            return false;
        });

        function showResponse(data)  {
            if (data.status == 'error') {
                alert (data.message);
            } else {
                txt = '<div class="comment_img"><img src="' + data.files[0]['thumb_url'] + '" />';
                txt += '<a class="add_img_to_c" href="#" data-url="' + data.files[0]['original_url'] + '">вставить</a>';
                txt += '<a class="del_img_to_c" href="#" data-url="' + data.files[0]['original_url'] + '" data-del="' + data.files[0]['delete_link'] + '">x</a>';
                txt += '</div>';
                $('#userfiles').prepend(txt);
                $('#ajaxform input[type="file"]').attr('value', '');
            };
        }

        $('#userfiles .add_img_to_c').live('click', function(event) {
            event.preventDefault();
            var url = $(this).attr('data-url');
            $('#id_comment').insertAtCaret("!["+url+"]("+url+")");
        })

        var commentdiv = false;

        $('#userfiles .del_img_to_c').live('click', function(event) {
            event.preventDefault();
            var url = $(this).attr('data-url');
            window.commentdiv = $(this).parent();
            $.getJSON($(this).attr('data-del'), function(data) {
                if (data.status == 'error') {
                    alert(data.message);
                } else {
                    window.commentdiv.remove();
                };
            });
        })

    </script>
    {% endif %}
{% endblock %}