{% extends "base.html" %}

{% block li-groups %}active{% endblock %}

{% load thumbnail pymorphy_tags %}

{% block title %}Список клубов{% endblock %}

{% block content_title %}
  <h2>Список клубов</h2>
{% endblock %}


{% block content %}
    {% if user.is_authenticated %}
        <div class="pull-right"><a class="btn" href="{% url create_group %}">Создать группу</a></div>
    {% endif %}

    <ul class="nav nav-tabs" id="grouptabbed">
        <li class="active"><a href="#all" data-toggle="tab">Все клубы</a></li>
        <li><a href="#mine" data-toggle="tab">Мои клубы</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="all">
        {% if group_list %}
            {% for group in group_list %}
                <div class="group">
                    {% if group.icon %}
                        <img src="{{group.icon|thumbnail_url:'group_small'}}" class="groupicon" />
                    {% endif %}
                    <h5><a href="{{ group.get_absolute_url }}">{{ group }}</a></h5>
                    {{ group.group_blog.count }}
                    {{ "блог"|plural:group.group_blog.count }},
                    {{ group.members.count }}
                    {{ "участник"|plural:group.members.count }}
                    <div class="clearfix"></div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="tab-pane" id="mine">
          {% for group in membership_list %}
              <div class="group">
                  {% if group.icon %}
                      <img src="{{group.icon|thumbnail_url:'group_small'}}" class="groupicon" />
                  {% endif %}
                  <h5><a href="{{ group.get_absolute_url }}">{{ group }}</a></h5>
                  {{ group.group_blog.count }}
                  {{ "блог"|plural:group.group_blog.count }},
                  {{ group.members.count }}
                  {{ "участник"|plural:group.members.count }}
                  <div class="clearfix"></div>
              </div>
          {% empty %}
              <p>Вы не состоите ни в одном клубе.</p>
          {% endfor %}
    </div>
</div>
{% endblock %}