{% extends "groups/base_groups.html" %}


{% block title %}{% if group %}Edit{% else %}Create a{% endif %} group{% endblock %}
{% block body_class %}{{ block.super }} group_form{% endblock %}


{% block content_title %}
  <h2>{% if group %}Edit{% else %}Create a{% endif %} group</h2>
{% endblock %}


{% block content %}
  {% load stringutils %}
<form action=".{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" method="post" autocomplete="off" enctype="multipart/form-data" class="form-horizontal">
  {% csrf_token %}
    {% for field in form %}
        {% include 'field.html' %}
    {% endfor %}
    <div class="form-actions">
        <input type="submit" value="Сохранить" class="btn btn-primary" />
        <a href="{{group.get_absolute_url}}" class="btn">Отмена</a>
    </div>
</form>
{% endblock %}