{% extends "groups/base_groups.html" %}


{% block title %}Members{% endblock %}
{% block body_class %}{{ block.super }} group_members{% endblock %}


{% block group_title %}/ Members{% endblock %}


{% block content %}
  {% load groups %}

  {% if member_list %}
    <ul>
      {% for member in member_list %}
        <li><a href='{% url userena_profile_detail member.user.username %}'>{% if member.user.get_full_name %}{{member.user.get_full_name}}{% else %}{{ member.user.username }}{% endif %}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if user and group|is_member:user %}
    <p><a class="button" href="{% url invite group.slug %}?next={{ request.path }}">Invite someone</a></p>
  {% endif %}
{% endblock %}