{% extends "groups/base_groups.html" %}

{% block title %}Покинуть клуб{% endblock %}

{% block content_title %}
    <h2>Покинуть клуб: {{ group }}</h2>
{% endblock %}


{% block content %}
    <form action=".{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" method="post">{% csrf_token %}
        <p>Вы действительно хотите покинуть клуб "{{ group }}?"</p>
        <p class="submit"><button type="submit">Покинуть клуб</button></p>
    </form>
{% endblock %}