{% extends "base.html" %}

{% block title %}Поиск{% endblock %}

{% block li-index %}active{% endblock %}

{% block content_title %}<h1>Вот чего нашли:</h1>{% endblock %}

{% block content %}
	{% if query %}
		{% for result in page.object_list %}
			<p>
				<a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>
			</p>
		{% empty %}
			<p><b>Ничего не нашли :(</b></p>
		{% endfor %}

		{% if page.has_previous or page.has_next %}
			<div>
				{% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
				|
				{% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
			</div>
		{% endif %}
	{% else %}
		<p>Ищущий да обрящет.</p>
	{% endif %}
{% endblock %}