{% extends "base.html" %}

{% load markup blog thumbnail comments pymorphy_tags guardian_tags %}

{% block right-block %}
    {% if blog %}
        {% get_obj_perms user for blog as "blog_perm" %}
        <h4><a href="{{ blog.get_absolute_url }}" title="{{ blog.title }}">{{blog.title}}</a></h4>
        {% if blog.description_html %}
            <div class="well well-small ">
                {{ blog.description_html|safe }}
            </div>
        {% endif %}
        {% if "change_blog" in blog_perm %}
            <p><small>
                <a href="{% url blog_form_edit blog.slug %}" class="alert-info" title="редактировать описание">редактировать</a>
            </small></p>
        {% endif %}
        <p><small>
            создан <b>{{blog.created|date:"d.m.Y"}}</b>
            пользователем <a href="{% url userena_profile_detail blog.owner.username %}" title="{{ blog.owner }}">{{ blog.owner }}</a>
            {% if blog.group %}
               в клубе <a href="{{ blog.group.get_absolute_url }}" title="{{ blog.group.title }}">{{ blog.group.title }}</a>
            {% endif %}
            
        </small></p>
        
        {% if "add_post_blog" in blog_perm %}
            <p>
                <a class="btn btn-info btn-small" href="{% url post_form blog.slug %}">Написать в блог</a>
                или посмотреть <a href="{% url blog_detail_more blog.slug 'draft' %}">черновики</a></li>
            </p>
        {% endif %}

        {% if blog.blog_categories.all %}
            <p><a href="{% url blog_category_list blog.slug %}" title="Все разделы">Разделы</a>:
            {% for category in blog.blog_categories.all %}
                <a href="{{ category.get_absolute_url }}" title="Смотреть посты данной категории">{{ category }} ({{ category.get_posts_count }})</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
            </p>
        {% endif %}
        <hr/>
    {% endif %}
{% endblock %}
