{% extends "blog/base_blog.html" %}

{% block title %}Все блоги{% endblock %}

{% block li-blogs %}active{% endblock %}

{% block content_title %}
    <h1>Список блогов</h1>
{% endblock %}

{% block content %}
    {% load pymorphy_tags %}

    {% if object_list %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Название блога</th>
                <th style="width:100px;">Владелец</th>
                <th style="width:150px;">Статистика</th>
            </tr>
            </thead>
        {% for blog in object_list %}
            <tr class="item{% if not blog.owner.is_active %} error{% endif %}">
                <td>
                        <a href="{{ blog.get_absolute_url }}" title="{{ blog.title }}">
                            {{ blog.title }}
                        </a>
                        {% if not blog.owner.is_active %}<small> хозяин блога покинул нас</small>{% endif %}
                </td>
                <td>
                    <a href="{% url userena_profile_detail blog.owner.username %}">
                        {{blog.owner.username}}
                    </a>
                </td>
                <td>
                    {{blog.get_posts_count}} {{ "запись"|plural:blog.get_posts_count }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <div class="well">
            Нет таких, может еще будут, а может все забили и не хотят так делать, как знать, бро, как знать.
        </div>
    {% endif %}

    {% if is_paginated %}
        {% url blog_index_all as baseurl %}
        {% include "_pagination.html" with baseurl=baseurl %}
    {% endif %}
{% endblock %}