{% extends "blog/base_blog.html" %}

{% block title %}Список разделов{% endblock %}

{% block content_title %}
    <h1>Разделы блога</h1>
{% endblock %}


{% block content %}

    <ul class="link_list">
    {% for category in object_list %}
        <li>
            <a href="{{ category.get_absolute_url }}" title="Смотреть посты данной категории">{{ category }}</a>
            {% if blog.owner == user %}
                | <a href="{% url blog_category_edit blog.slug category.slug %}">править</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% if blog.owner == user %}
        <a class="btn btn-small" href="{% url blog_category_add blog.slug %}">добавить</a>
    {% endif %}

{% endblock %}