{% extends "blog/base_blog.html" %}

{% block title %}Записи из категории: {{ category.title }}{% endblock %}

{% block content_title %}
  <h1>Записи из категории: {{ category.title }}</h1>
{% endblock %}


{% block content %}{{ block.super }}
    {% load pagination %}
    <div class="list post_list">
        {% autopaginate object_list %}
        {% for post in object_list %}
            {% include 'blog/post.html' with post=post %}
        {% endfor %}
    </div>

    {% if page_obj.has_other_pages %}
        {% url blog_category_detail blog.slug category.slug as baseurl %}
        {% include "_pagination.html" with baseurl=baseurl %}
    {% endif %}

{% endblock %}