{% extends "blog/base_blog.html" %}


{% block title %}{{ post.title }}: удаление{% endblock %}


{% block content_title %}
    <h1>{{ post.title }}: удаление</h1>
{% endblock %}


{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <form action="." method="post" id="post_form">
                {% csrf_token %}
                {% for field in form %}
                    {% include 'field.html' %}
                {% endfor %}
                <div class="form-actions">
                    <input type="submit" value="Удалить" class="btn btn-primary" />
                    <a href="{{post.get_absolute_url}}" class="btn">Отмена</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}