{% extends "blog/base_blog.html" %}

{% block title %}Категории{% endblock %}


{% block content_title %}
    <h1>Категории</h1>
{% endblock %}


{% block content %}

    <div class="row-fluid">
        <div class="span12">
            {% if form.non_field_errors %}
                <div class="alert alert-error">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <form action="." method="post" id="post_form" class="form-horizontal">
                {% csrf_token %}
                {% for field in form %}
                    {% include 'field.html' %}
                {% endfor %}
                <div class="form-actions">
                    <input type="submit" name="save" value="Сохранить" class="btn btn-success" />
                    <a href="{{blog.get_absolute_url}}" class="btn">Отмена</a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
