{% extends "base-1c.html" %}

{% block li-blog %}active{% endblock %}

{% block title %}{% if post %}{{ post.title }}: редактирование{% else %}Новая запись в блог{% endif %}{% endblock %}


{% block content_title %}
        <h1>{% if post %}{{ post.title }}: редактирование{% else %}{{blog.title}} <small>создание новой записи</small>{% endif %}</h1>
{% endblock %}


{% block content %}

<div class="row-fluid">
    <div class="span9">
        <form action="." method="post" id="post_form" >
          {% csrf_token %}
            {% for field in form %}
                {% include 'field.html' %}
            {% endfor %}
            <div class="form-actions">
                <input type="submit" name="public" value="Опубликовать" class="btn btn-success" />
                <input type="submit" name="draft" value="Сохранить черновик" class="btn btn-info" />
                {% if post %}
                    <a href="{{post.get_absolute_url}}" class="btn">Отмена</a>
                {% else %}
                    <a href="{{blog.get_absolute_url}}" class="btn">Отмена</a>
                {% endif %}
            </div>
        </form>
    </div>
    <div class="span3">
        <form id="ajaxform" method="post" action="/blogs/img/add/{% if post %}{{post.id}}/{% endif %}" enctype="multipart/form-data" id="postform"><input name="image" type="file" />{% csrf_token %}</form>
        <div id="userfiles" class="blogfile">
        {% load thumbnail %}
        {% for i in images %}
            <div class="comment_img">
                <img src="{{i.file|thumbnail_url:'editor'}}" alt="{{i.file.url}}" title="" />
                {% if not i.in_use %}
                    <a href="#" class="del_img_to_c" data-url="{{i.file.url}}" data-del="{{ i.get_delete_url }}">x</a>
                {% endif %}
                <a href="#" class="add_img_to_c" data-url="{{i.file.url}}">вставить</a>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="http://yandex.st/jquery/form/3.09/jquery.form.min.js"></script>

<script type="text/javascript" >

    textarea = $("#id_body");

    $('#ajaxform input').change(function() {
        $('#ajaxform').ajaxSubmit({
            success: showResponse,
            dataType:'json'
        });
        return false;
    });

    function showResponse(data)  {
        if (data.status == 'error') {
            alert (data.message);
        } else {
            txt = '<div class="comment_img"><img src="' + data.files[0]['thumb_url'] + '" />';
            txt += '<a class="add_img_to_c" href="#" data-url="' + data.files[0]['original_url'] + '">вставить</a>';
            txt += '<a class="del_img_to_c" href="#" data-url="' + data.files[0]['original_url'] + '" data-del="' + data.files[0]['delete_link'] + '">x</a>';
            txt += '</div>';
            $('#userfiles').prepend(txt);
            $('#ajaxform input[type="file"]').attr('value', '');

            $('#userfiles .add_img_to_c').off('click');
            $('#userfiles .add_img_to_c').on('click', function(event) {
                event.preventDefault();
                var url = $(this).attr('data-url');
                textarea = $("#id_body");
                textarea.insertAtCaret("!["+url+"]("+url+")");
            });

            $('#userfiles .del_img_to_c').off('click');
            $('#userfiles .del_img_to_c').on('click', function(event) {
                event.preventDefault();
                var url = $(this).attr('data-url');
                window.commentdiv = $(this).parent();
                $.getJSON($(this).attr('data-del'), function(data) {
                    if (data.status == 'error') {
                        alert(data.message);
                    } else {
                        window.commentdiv.remove();
                    };
                });
            })
        };
    }

    $('#userfiles .add_img_to_c').on('click', function(event) {
        event.preventDefault();
        var url = $(this).attr('data-url');
        textarea = $("#id_body");
        textarea.insertAtCaret("!["+url+"]("+url+")");
    })

    var commentdiv = false;

    $('#userfiles .del_img_to_c').on('click', function(event) {
        event.preventDefault();
        var url = $(this).attr('data-url');
        window.commentdiv = $(this).parent();
        $.getJSON($(this).attr('data-del'), function(data) {
            if (data.status == 'error') {
                alert(data.message);
            } else {
                window.commentdiv.remove();
            };
        });
    })
</script>
{% endblock %}