{% extends "blog/base_blog.html" %}

{% block title %}{% if blog %}{{blog.title}} - редактирование{% else %}Создание нового блога{% endif %}{% endblock %}


{% block content_title %}
    <h3>{% if blog %}{{blog.title}} <small>редактирование</small> {% else %}Создание нового блога{% endif %}</h3>
    <hr/>
{% endblock %}


{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <form action="" method="post" id="postform">
                {% csrf_token %}
                {% for field in form %}
                    {% include 'field.html' %}
                {% endfor %}
                <div class="form-actions">
                    <input type="submit" value="Сохранить" class="btn btn-primary" />
                    <a href="{{blog.get_absolute_url}}" class="btn ">Отмена</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}