{% extends "blog/base_blog.html" %}

{% block li-posts %}active{% endblock %}
{% block title %}{{ object.title }} - {{ object.blog.title }}{% endblock %}

{% block content_title %}
    {% load humanize thumbnail ratings %}
    <h3>
        <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
    </h3>
    <div class="vote post-vote pull-right">{% rating_widget on object.rating %}</div>
    <p><small>
        <img src="{{object.author.profile.mugshot|thumbnail_url:'small'}}" class="profileicon" />
        <a href='{% url userena_profile_detail object.author.username %}'>
            {{object.author.profile.get_full_name_or_username}}
        </a>
        написал{% if object.author.profile.gender == 2 %}a{% endif %}
        <abbr title="{{object.publish|date:"d.m.Y H:i"}}">{{ object.publish|naturaltime }}</abbr>
        - поделиться: <span class="yashare-auto-init" data-yashareL10n="ru" data-yashareTitle="{{ object.title }}" data-yashareLink="http://jasn.ru{{ object.get_absolute_url }}" data-yashareType="icon" data-yashareQuickServices="vkontakte,facebook,twitter,lj,gplus,surfingbird"></span>
    </small><p>
{% endblock %}

{% block content %}
    {% load guardian_tags blog comments threadedcomments_tags tagging_tags markup thumbnail pymorphy_tags ratings humanize %}
    {% get_comment_count for object as comment_count %}
    {% get_obj_perms user for post as "post_perm" %}
    <div class="post">
       {% tags_for_object object as tag_list %}
        {% if tag_list %}
            <p class="inline_tag_list">
                {% for tag in tag_list %}
                    <a class="label" href="{% url blog_tag_detail tag.id %}" title="{{ tag.name }}">{{ tag.name }}</a>
                {% endfor %}
            </p>
        {% endif %}

        <div class="body">
            {{ object.body_html|safe|hide_text:user}}
        </div>

         {% if object.categories.all %}
            <p class="inline_tag_list"><strong>Рубрики:</strong>
                {% for cat in object.categories.all %}
                    <a href="{{ cat.get_absolute_url }}" title="{{ cat.title }}">{{ cat.title }}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
            </p>
        {% endif %}

        {% if "change_post" in post_perm %}
            <p><small>
                <a href="{% url post_form_id blog_slug=object.blog.slug pk=object.id %}">редактировать</a>
                - <a class="alert-error" href="{% url post_delete blog_slug=object.blog.slug pk=object.pk %}">удалить</a>
            </small></p>
        {% endif %}

        <ul class="pager">
            {% if object.get_previous_post %}
            <li class="previous">
                <a href="{{ object.get_previous_post.get_absolute_url }}" title="Преыдущий пост">&larr; {{ object.get_previous_post.title }}</a>
            </li>
            {% endif %}
            {% if object.get_next_post %}
            <li class="next">
                <a href="{{ object.get_next_post.get_absolute_url }}" title="Следующий пост">{{ object.get_next_post.title }} &rarr;</a>
            </li>
            {% endif %}
        </ul>

        <i class="icon-comment"></i>
        {{comment_count}}
        {{ "комментарий"|plural:comment_count }}

    </div>
    {% get_comment_list for object as comment_list %}
    {% if comment_list %}
        <hr/>
        <div id="comments">
            <a name="comments"></a>
            {% for comment in comment_list %}
                {% include 'comment.html' %}
            {% endfor %}
        </div>
    {% endif %}

    {% if user.is_authenticated %}
        <div id="comment_form">
            {% if object.allow_comments %}
                <div class="commentfiles">
                    <form id="ajaxform" method="post" action="/blogs/img/add/{{object.id}}/" enctype="multipart/form-data" id="postform">
                        <input name="image" type="file" />
                        {% csrf_token %}
                    </form>
                    <div id="userfiles">
                        {% load thumbnail %}
                        {% for i in images %}
                            <div class="comment_img">
                                <img src="{{i.file|thumbnail_url:'tocomment'}}"  />
                                <a class="add_img_to_c" href="#" data-url="{{i.file.url}}">вставить</a>
                                <a class="del_img_to_c" href="#" data-url="{{i.file.url}}" data-del="{% url blog_del_image i.id %}">x</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="comment_form">
                    {% render_comment_form for object %}
                </div>
            {% else %}
                <h3>Комментарии закрыты.</h3>
                <p>Автор запретил комментировать его пост.</p>
            {% endif %}
        </div>
    {% else %}
        <div id="comment_form" class="well">
            <h4>Я тебя не знаю.</h4>
            <p>Добавлять комментарии разрешено только авторизованным пользователям.</p>
        </div>
    {% endif %}
    
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'jasn'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    

{% endblock %}

{% block js %}
<script type="text/javascript" src="http://yandex.st/jquery/form/3.09/jquery.form.min.js"></script>
<script type="text/javascript" >

$('#ajaxform input').change(function() {
    $('#ajaxform').ajaxSubmit({
        success: showResponse,
        dataType:'json'
    });
    return false; 
});

function showResponse(data)  { 
    if (data.status == 'error') {
        alert (data.message);
    } else {
        txt = '<div class="comment_img"><img src="' + data.files[0]['thumb_url'] + '" />';
        txt += '<a class="add_img_to_c" href="#" data-url="' + data.files[0]['original_url'] + '">вставить</a>';
        txt += '<a class="del_img_to_c" href="#" data-url="' + data.files[0]['original_url'] + '" data-del="' + data.files[0]['delete_link'] + '">x</a>';
        txt += '</div>';
        $('#userfiles').prepend(txt);
        $('#ajaxform input[type="file"]').attr('value', '');

        $('#userfiles .add_img_to_c').off('click');
        $('#userfiles .add_img_to_c').on('click', function(event) {
            event.preventDefault();
            var url = $(this).attr('data-url');
            $('#id_comment').insertAtCaret("!["+url+"]("+url+")");
        });

        $('#userfiles .del_img_to_c').off('click');
        $('#userfiles .del_img_to_c').on('click', function(event) {
            event.preventDefault();
            var url = $(this).attr('data-url');
            window.commentdiv = $(this).parent();
            $.getJSON($(this).attr('data-del'), function(data) {
                if (data.status == 'error') {
                    alert(data.message);
                } else {
                    window.commentdiv.remove();
                };
            });
        })
    };
} 

$('#userfiles .add_img_to_c').on('click', function(event) {
    event.preventDefault();
    var url = $(this).attr('data-url');
    $('#id_comment').insertAtCaret("!["+url+"]("+url+")");
})

var commentdiv = false;

$('#userfiles .del_img_to_c').on('click', function(event) {
    event.preventDefault();
    var url = $(this).attr('data-url');
    window.commentdiv = $(this).parent();
    $.getJSON($(this).attr('data-del'), function(data) {
        if (data.status == 'error') {
            alert(data.message);
        } else {
            window.commentdiv.remove();
        };
    });
})

$('.comment .addansw').on('click', function(event) {
    event.preventDefault();
    $('.comment').removeClass('answ');
    current = $(this).parent();
    comment_form = $('#comment_form');
    current.addClass('answ');
    $('#id_parent').val(current.attr("id").replace('c', ''));
    comment_form.hide().insertAfter(current);
    $('#comment_form').slideDown();
})

$('.comment .delansw').on('click', function(event) {
    event.preventDefault();
    $(this).parent().removeClass('answ');
    $('#id_parent').val();
    comment_form = $('#comment_form');
    comment_form.hide().insertAfter($('#comments'));
    $('#comment_form').slideDown();
})

{% get_comment_list for object as comment_list %}
{% for comment in comment_list %}
    {% if comment.parent %}
    var respdiv = $('#c{{ comment.parent.id }} .response');
    addtext = ', ';
    if (respdiv.length == 0) {
        $('#c{{comment.parent.id}}').append('<div class="response">Ответы: </div>');
        respdiv = $('#c{{ comment.parent.id }} .response');
        addtext = '';
    };
    respdiv.append(addtext + '<a href="{{ comment.get_absolute_url }}" >>>{{comment.id}}</a>');
    {% endif %}
{% endfor %}

var current = $(location.hash);
if (current.length > 0) {
    current.addClass('active_comment');
};

$(window).bind('hashchange', function() {
    current = $(location.hash);
    $('.comment').removeClass('active_comment');
    if (current.length > 0) {
        current.addClass('active_comment');
    };
});

</script>
{% endblock %}
