{% load guardian_tags blog thumbnail comments threadedcomments_tags tagging_tags pymorphy_tags markup ratings humanize %}
{% get_obj_perms user for post as "post_perm" %}
{% get_comment_count for post as comment_count %}

<div class="item post">
    <h4>
        <a href="{{ post.get_absolute_url }}" title="{{ post.title }}">{{ post.title }}</a>
    </h4>
    {% if body != 0 %}
        <div class="post_body">
            {{post.body_anons|safe|hide_text:user}}
            {% if post.body_anons != post.body_html %}
                <a class="btn btn-mini" href="{{ post.get_absolute_url }}">читать дальше...</a>
            {% endif %}
        </div>
        {% if "change_post" in post_perm %}
            <p><small>
                <a href="{% url post_form_id blog_slug=post.blog.slug pk=post.id %}">редактировать</a>
                или <a class="alert-error" href="{% url post_delete blog_slug=post.blog.slug pk=post.pk %}">удалить</a>
            </small></p>
        {% endif %}
        <div class="post-footer">
            <div class="vote post-vote pull-left">{% rating_widget on post.rating %}</div>

            <small>
                <img src="{{post.author.profile.mugshot|thumbnail_url:'small'}}" class="profileicon" />
                <a href='{% url userena_profile_detail post.author.username %}'>
                    {{post.author.profile.get_full_name_or_username}}
                </a>
                написал{% if post.author.profile.gender == 2 %}a{% endif %}
                <abbr title="{{post.publish|date:"d.m.Y H:i"}}">{{ post.publish|naturaltime }}</abbr>
                в 
                <a href="{{ post.blog.get_absolute_url }}" title="{{post.blog.title}}">{{post.blog.title|truncatechars:40}}</a>
                -
                <a href="{{post.get_absolute_url}}#comments">
                    {{comment_count}}
                    {{ "комментарий"|plural:comment_count }}
                </a>
            </small>
        </div>
    {% endif %}
</div>