{% extends "blog/base_blog.html" %}

{% block title %}Записи с тегом: {{ tag.name }}{% endblock %}

{% block content_title %}
    <h1>Записи с тегом: {{ tag.name }}</h1>
{% endblock %}


{% block content %}
    <div class="list post_list">
        {% load pagination %}
        {% autopaginate object_list %}
        {% for post in object_list %}
            {% include 'blog/post.html' with post=post %}
        {% endfor %}
    </div>

    {% if page_obj.has_other_pages %}
        {% url blog_category_detail blog.slug category.slug as baseurl %}
        {% include "_pagination.html" with baseurl=baseurl %}
    {% endif %}

{% endblock %}