{% extends "blog/base_blog.html" %}

{% block title %}Список тегов{% endblock %}

{% block content_title %}
    <h1>Список тегов</h1>
{% endblock %}


{% block content %}
  <p class="link_list">
    {% for tag in object_list %}
        <a href="{% url blog_tag_detail tag.id %}" class="font{{ tag.font_size }}" title="{{ tag.name }}">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}
    {% endfor %}
  </p>
{% endblock %}