div.mdm-buttons,
div.mdm-preview {
  line-height: 1em;
  padding: 0px;
  max-height: 0px;
  overflow: hidden;
  background-color: white;
  box-sizing: border-box;
}

div.mdm-preview.focus {
  padding: 5px;
}

div.mdm-buttons {
  width: 148px;

  font-size: 12px;
}

div.mdm-buttons ul {
  margin: 10px;
}

div.mdm-buttons ul li{
  display: inline;
  margin: 0;
}

div.mdm-buttons ul li a{
  padding: 5px;
  color: black;
  text-decoration: none;
}

div.mdm-buttons ul li a span{
  display: none;
}

div.mdm-buttons ul li a:active{
  color: #ccc;
  position: relative;
  top: 1px;
}

div.mdm-preview strong {
  font-weight: bold;
}

div.mdm-preview em {
  font-style: italic;
}

div.mdm-preview ul {
  margin-left: 20px;
  list-style-type: disc;
}


div.mdm-preview h1,
div.mdm-preview h2,
div.mdm-preview h3{
  font-weight: bold;
}

div.mdm-preview h1 {
  font-size: 18px;
}

div.mdm-preview h2 {
  font-size: 14px;
}

div.mdm-preview h3 {
  font-size: 12px;
}
