{% extends "base-1c.html" %}

{% block title %}Страница не найдена{% endblock %}

{% block content_title %}
    <h1>Ошибка 404</h1>
{% endblock %}


{% block content %}

    <p>Может, ну ее, а?</p>
    <p>Ну нет страницы, ну и ладно.</p>

{% endblock %}