{% extends "base-1c.html" %}

{% block title %}Все сломалось{% endblock %}

{% block content_title %}
    <h1>Ошибка 500</h1>
{% endblock %}


{% block content %}

    <p>Это значит, что случилось нечто серьезное и сайт не работает</p>
    <p>Но не переживайте, администрация получила полный отчет
        об этой ошибке на электронную почту, и в скором времени причина ошибки будет устранена. </p>

{% endblock %}