{% load i18n %}{% spaceless %}
<div class="pagination pagination-small pagination-centered">
    <ul>
    {% if page_obj.has_previous %}
        <li><a href="{{baseurl}}page-{{ page_obj.previous_page_number }}/" class="prev">&lsaquo;&lsaquo;</a></li>
    {% else %}
        <li class="disabled"><a href="#">&lsaquo;&lsaquo;</a></li>
    {% endif %}
    {% for page in page_obj.pages %}
        {% if page %}
            {% ifequal page page_obj.number %}
                <li class="active"><a href="#" class="current page">{{ page }}</a></li>
            {% else %}
                <li><a href="{{baseurl}}page-{{ page }}/" class="page">{{ page }}</a></li>
            {% endifequal %}
        {% else %}
            <li class="disabled"><a href="#">...</a></li>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li><a href="{{baseurl}}page-{{ page_obj.next_page_number }}/" class="next">&rsaquo;&rsaquo;</a></li>
    {% else %}
        <li class="disabled"><a href="#">&rsaquo;&rsaquo;</a></li>
    {% endif %}
    </ul>
</div>{% endspaceless %}