{% extends "body.html" %}

{% block body %}
        <div class="row-fluid">
			<div class="span12">
            	{% block content_title %}{% endblock %}
            	<div class="wrcnt">{% block content %}{% endblock %}</div>
        	</div>
        </div>
{% endblock %}