{% extends "body.html" %}

{% block body %}
    <div class="row-fluid">
        <div class="span3 pull-right" >
			<form action="/search/" method="get" id="post_form" class="form-search" >
				<input type="text" class="input-medium search-query span10" name="q" value="{{form.q.value}}" />
				<button type="submit" class="btn"><i class="icon-search"></i></button>
			</form>
            {% block right-block %}{% endblock %}
            <ul class="nav nav-list">
              {% if user.is_authenticated %}
                {% load umessages_tags thumbnail %}{% get_unread_message_count_for user as message_count %}
                <li class="nav-header">
                    <a class="pull-right" href="{% url userena_signout %}"><i class="icon icon-off"></i></a>
                    <a href="{% url userena_profile_detail user.username %}">
                        <img src="{{user.profile.mugshot|thumbnail_url:'small'}}" class="profileicon" /> {{ user.username }}
                    </a>
                </li>
                
                <li><a href="{% url userena_umessages_list %}">Сообщения{% if message_count %} <span class="badge badge-important">{{ message_count }}</span>{% endif %}</a></li>
                {% if user.is_superuser %}<li><a href="/admin/">Админка</a></li>{% endif %}

                <li class="nav-header">
                    <a class="pull-right" href="{% url blog_form_add %}" title="Добавить блог"><i class="icon icon-plus"></i></a>
                    Мои блоги
                </li>
                {% load blog %}
                {% get_user_blogs user as blog_list %}
                    {% for blog in blog_list %}
                        <li><a href="{% url blog_detail blog.slug %}">{{blog.title}}</a></li>
                    {% endfor %}
            {% else %}
                <li><a href="{% url userena_signin %}">Вход</a></li>
            {% endif %}
            </ul>
            <hr/>
            <div class="well well-small hidden-phone" >
                {% if online_users %}
                    <p>Сейчас на сайте:<br/>
                        {% for ua in online_users %}
                            <a href='{% url userena_profile_detail ua.user.username %}'>{% if ua.user.get_full_name %}{{ ua.user.get_full_name }}{% else %}{{ ua.user.username }}{% endif %}</a>{%  if not forloop.last %},{% endif %}
                        {% empty %}
                            Никого :(
                        {% endfor %}
                    </p>
                {% endif %}
                {% if today_online_users %}
                    <p>За последние 24 были:<br/>
                    {% for ua in today_online_users %}
                        <a href='{% url userena_profile_detail ua.user.username %}'>{% if ua.user.get_full_name %}{{ ua.user.get_full_name }}{% else %}{{ ua.user.username }}{% endif %}</a>{%  if not forloop.last %},{% endif %}
                    {% empty %}
                        Никого :(
                    {% endfor %}
                    </p>
                {% endif %}
            </div>
            {% load tagging_tags %}
            {% tags_for_model blog.post as widget_tags with counts %}
            {% for tag in widget_tags|dictsortreversed:"count"|slice:":30" %}
                <a class="label label-info" href="{% url blog_tag_detail tag.id %}" title="{{ tag.name }}">{{ tag.name }}</a>
            {% endfor %}
        </div>
        <div class="span9 no-margin-left">
            {% block content_title %}{% endblock %}
            <div class="wrcnt">{% block content %}{% endblock %}</div>
        </div>
    </div>
{% endblock %}