<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - JASN</title>

    <link rel="stylesheet" type="text/css" media="screen" href="http://yandex.st/bootstrap/2.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/m/css/master.css?v=1.0.6" />
    <link rel="stylesheet" type="text/css" media="screen" href="/m/css/to_top.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="http://yandex.st/bootstrap/2.3.1/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="http://yandex.st/jquery/fancybox/2.1.4/jquery.fancybox.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="http://yandex.st/jquery/fancybox/2.1.3/helpers/jquery.fancybox-buttons.min.css" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/m/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/m/favicon.ico" type="image/x-icon">
    <meta name='wmail-verification' content='66d99a890c9398ed' />
    <meta name="google-site-verification" content="ZHEdAWNUTacbE6SvSYpKOA89sSVBsbXW7oWFfh6buvI" />
    <meta name="rp5f8b2654fd824cd580f0903f2e3e3dcb" content="253f796e7ade806b33bab4f087d66d97" />
    {% block extrahead %}{% endblock %}
</head>
<body>
    <div id="wrap">
        <div id="header">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span2 offset2">
                        <div id="logo">
                            <a title="Сомнения прочь, жми!" href="/">
                                <img src="/m/img/jasn.png" height="100" width="133" alt="Jasn" title="К истокам" />
                            </a>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="row-fluid">
                            <div class="span6">
                                <ul class="nav nav-pills nav-stacked">
                                    <li class="{% block li-blogs %}{% endblock %}"><a href="{% url blog_index_all %}">Блоги</a></li>
                                    <li class="{% block li-groups %}{% endblock %}"><a href="{% url groups %}">Клубы</a></li>
                                    <li class="{% block li-users %}{% endblock %}"><a href="{% url userena_profile_list %}">Люди</a></li>
                                </ul>
                            </div>
                            <div class="span6">
                                <ul class="nav nav-pills nav-stacked">
                                    <li class="{% block li-posts %}{% endblock %}"><a href="{% url blog_index %}">Записи</a></li>
                                    <li class="{% block li-walls %}{% endblock %}"><a href="{% url wall_items_all %}" >Стенки</a></li>
                                    <li class="{% block li-comments %}{% endblock %}"><a href="{% url comments_all %}" >Комментарии</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="span2">
                        <div id="zoosklad">
                            <a href="http://gss.jasn.ru/" target="_blank">
                                <img src="/m/img/zoo_sklad.png" alt="Skлaд Zaйцew" title="Skлaд Zaйцew" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /header-->

        <div id="content">
            <div class="container-fluid">
                {% if messages %}
                    <div id="topmessage" class="alert">
                        <button class="close" data-dismiss="alert">×</button>
                        <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                {{ message }}
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <hr/>
                {% block body %}{% endblock %}
            </div>
        </div><!-- /content-->
        <div id="push"></div>
    </div>
    <div id="footer">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="pull-left">
                    <span class="badge badge-important">18+</span>
                </div>
                <div class="pull-left" style="margin:0 20px;">
                    {% now "Y" %} &copy; JASN - Коллективное сознательное <span id="pusherstatus"></span><br/>
                    все вопросы направлять на почту <a href="mailto:adam@jasn.ru">adam@jasn.ru</a>.
                </div>
                <div class="pull-right">
                    <!--LiveInternet counter--><script type="text/javascript"><!--
                    document.write("<a rel='nofollow' href='http://www.liveinternet.ru/click' "+
                        "target=_blank><img src='//counter.yadro.ru/hit?t40.1;r"+
                        escape(document.referrer)+((typeof(screen)=="undefined")?"":
                        ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                                screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
                        ";"+Math.random()+
                        "' alt='' title='LiveInternet' "+
                        "border='0' width='31' height='31'><\/a>")
                    //--></script><!--/LiveInternet-->

                    <!--Openstat-->
                    <span id="openstat2269852"></span>
                    <script type="text/javascript">
                        var openstat = { counter: 2269852, image: 92, color: "000000", next: openstat, track_links: "all" };
                        (function(d, t, p) {
                            var j = d.createElement(t); j.async = true; j.type = "text/javascript";
                            j.src = ("https:" == p ? "https:" : "http:") + "//openstat.net/cnt.js";
                            var s = d.getElementsByTagName(t)[0]; s.parentNode.insertBefore(j, s);
                        })(document, "script", document.location.protocol);
                    </script>
                    <!--/Openstat-->
                </div>
            </div>
        </div>
    </div><!-- /footer-->

    <script type="text/javascript" src="http://yandex.st/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://yandex.st/bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://yandex.st/jquery/fancybox/2.1.4/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="http://yandex.st/jquery/fancybox/2.1.3/helpers/jquery.fancybox-buttons.min.js"></script>
    <script type="text/javascript" src="/m/js/master.js?v=1.0.3"></script>
    <script type="text/javascript" src="/m/js/to_top.js"></script>
    <script type="text/javascript" src="/m/js/jquery.pjax.js"></script>

    <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
    {% if user.is_authenticated %}
        <script src="http://js.pusher.com/2.0/pusher.min.js"></script>
        <script type="text/javascript">
                var auth = 1;
                var locale = 'ru';
                var auth_login = '{{ user.username }}';
                var csrftoken = getCookie('csrftoken');

                var pusher = new Pusher('325d0310dc21212216e3',  {
                    encrypted: true,
                    auth: {
                        params: {
                            CSRFToken: csrftoken
                        }
                    }
                });
                var channel = pusher.subscribe('chat');

                channel.bind('msg', function(data) {
                    alert('Твой браузер хочет сказать тебе:\n' + data.message);
                });

                pusher.connection.bind('connected', function() {
                    $('span#pusherstatus').text(' и ты с нами!');
                });
        </script>   
    {% endif %}

    {% block js %}{% endblock %}

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter13120417 = new Ya.Metrika({id:13120417,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        trackHash:true});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/13120417" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
   </body>
 </html>
