{% extends "base.html" %}

{% block title %}Свежие комменатрии{% endblock %}

{% block li-comments %}active{% endblock %}

{% block content_title %}
        <h1>Свежие комментарии в блогах</h1>
{% endblock %}


{% block content %}
    {% for comment in object_list %}
        {% include 'comment.html' with index='1' %}
    {% endfor %}

    {% if is_paginated %}
            {% url comments_all as baseurl %}
            {% include "_pagination.html" with baseurl=baseurl %}
    {% endif %}

{% endblock %}


{% block js %}
    <script type="text/javascript" >
        {% for comment in object_list %}{% if comment.parent %}
                var respdiv = $('#{{ comment.parent.id }} .response');
                if (respdiv.length == 0) {
                    $('#{{comment.parent.id}}').append('<div class="response">Ответы: </div>');
                    respdiv = $('#{{ comment.parent.id }} .response');
                };
                respdiv.append('<a href="{{ comment.get_absolute_url }}" >>>{{comment.id}}</a>, ');
        {% endif %}{% endfor %}
    </script>
{% endblock %}