{% load markup thumbnail blog ratings humanize %}

{% if comment.is_public %}
<div class="comment item" id="c{{comment.id}}">
    <p class="name">
        {% if comment.user %}
            <a href='{% url userena_profile_detail comment.user.username %}'>{{comment.user.profile.get_full_name_or_username }}</a>
        {% else %}
            Аноним
        {% endif %}
        написал{% if user.profile.gender == 2 %}a{% endif %}
        <abbr title="{{comment.submit_date|date:"d.m.Y H:i"}}">{{ comment.submit_date|naturaltime }}</abbr>,
        <a name="c{{ comment.id }}" href="{{ comment.get_absolute_url }}" class="count">#{{comment.id}}</a>
        {% if comment.parent and not comment.parent.is_removed %}
            ответ на <a href="{{ comment.parent.get_absolute_url }}" class="count">#{{comment.parent.id}}</a>
        {% endif %}
        {% if index %}
            <br/>в блоге <a href='{{ comment.content_object.blog.get_absolute_url }}'>{{ comment.content_object.blog.title|truncatewords:"10" }}</a>
            на запись <a href='{{ comment.content_object.get_absolute_url }}'>{{ comment.content_object.title|truncatewords:"10" }}</a>
        {% endif %}
    </p>
    {% if not index and user.is_authenticated %}
        <a href="#" class="addansw">ответить</a>
        <a href="#" class="delansw">не отвечать</a>
    {% endif %}
    <div class="commenticon{% if comment.user.useractivity.is_online %} online{% endif %}">
    {% if comment.user %}
        <img src="{{comment.user.profile.mugshot|thumbnail_url:'tocomment'}}" alt="{{ comment.user.profile.get_full_name_or_username }}" />
    {% endif %}
    </div>
    <div class="commentbody" >
        {{ comment.comment_html|safe|hide_text:user}}
    </div>
    <div class="vote">{% rating_widget on comment.rating %}</div>
    <div class="clearfix"></div>
    {% if user == comment.user and comment.get_editable %}
    <div class="edit">
        <a class="edit-url" href="#edit{{ comment.id }}" data-url="{% url blog_edit_comment comment.id %}">редактировать</a> |
        <a class="delete-url" href="#delete{{ comment.id }}" data-url="{% url blog_del_comment comment.id %}">удалить</a>
    </div>
    {% endif %}
</div>
{% endif %}