{% if not field.is_hidden %}    
<div class="control-group{% if field.errors %} error{% endif %}" id="field_{{ field.html_name }}">
    {% if field.name != "body" %}
    <label class="control-label {% if field.field.required %} required{% endif %}" for="id_{{field.name}}">{{ field.label }}</label>
    {% endif %}
    <div class="controls">
        {{ field }}
        {% if field.help_text %}
            <p class="help-block">{{ field.help_text|safe }}</p>
        {% endif %}
        {% if field.errors %}
            <span class="help-inline">{{ field.errors }}</span>
        {% endif %}
    </div>
</div>
{% else %}
{{ field }}
{% endif %}