{% load markup thumbnail blog ratings humanize %}

    <div class="wall item" id="c{{comment.id}}">
        <p class="name">
            {% if comment.user %}
                <a href='{% url userena_profile_detail comment.user.username %}'>{{comment.user.profile.get_full_name_or_username }}</a>
            {% else %}
                Аноним
            {% endif %}
            написал{% if user.profile.gender == 2 %}a{% endif %}
            <abbr title="{{comment.submit_date|date:"d.m.Y H:i"}}">{{ comment.submit_date|naturaltime }}</abbr>
            {% if index %}
                {% if comment.content_type.name == 'group' and comment.content_object %}
                    <br/>в группе <a href='{{ comment.content_object.get_absolute_url }}'>{{ comment.content_object.title|truncatewords:"10" }}</a>
                {% endif %}
                {% if comment.content_type.name == 'user' and comment.content_object %}
                    <br/>в профиле <a href='{% url userena_profile_detail comment.content_object.username %}'>{{ comment.content_object.profile.get_full_name_or_username|truncatewords:"10" }}</a>
                {% endif %}

            {% endif %}
        </p>
        <div class="commenticon{% if comment.user.useractivity.is_online %} online{% endif %}">
            {% if comment.user %}
                <img src="{{comment.user.profile.mugshot|thumbnail_url:'tocomment'}}" alt="{{ comment.user.profile.get_full_name_or_username }}" />
            {% endif %}
        </div>
        <div class="commentbody" >
            {{ comment.body_html|safe }}
        </div>
        <div class="vote">{% rating_widget on comment.rating %}</div>
        <div class="clearfix"></div>
        {% if user == comment.user and comment.get_editable %}
            <div class="edit">
                <a class="edit-url" href="#edit{{ comment.id }}" data-url="{% url wall_edit_comment comment.id %}">редактировать</a> |
                <a class="delete-url" href="#delete{{ comment.id }}" data-url="{% url wall_del_comment comment.id %}">удалить</a>
            </div>
        {% endif %}
    </div>