{% load threadedcomments_tags comments %}
<form action="{% comment_form_target %}" class="form-horizontal" method="post">{% csrf_token %}
    <input type="hidden" name="next" value="/comment/posted/" />
        {% for field in form %}
            {% if not field.is_hidden %}
            <div class="control-group{% if field.errors %} error{% endif %}" id="fiels_{{ field.html_name }}">
                {{ field }}
                {% if field.help_text %}
                    <p class="help-block">{{ field.help_text|safe }}</p>
                {% endif %}
                {% if field.errors %}
                    <span class="help-inline">{{ field.errors }}</span>
                {% endif %}
            </div>
        {% else %}
            {{ field }}
        {% endif %}
    {% endfor %}
    <input type="submit" name="post" value="Отправить" class="btn btn-success comment-submit" data-loading-text="Отправляется..." />
</form>