{% extends "groups/base_groups.html" %}


{% block title %}{{ page.title }}{% endblock %}
{% block body_class %}{{ block.super }} group_page{% endblock %}


{% block group_title %}/ {{ page.title }}{% endblock %}


{% block content %}
  {% load groups markup %}

  {{ page.body|markdown }}

  <p class="byline">Modifed {{ page.modified|timesince }} ago. 
    {% if user and group|is_owner:user %}<a class="edit" href="{% url page_edit group.slug, page.slug %}">Edit</a>{% endif %}</p>
{% endblock %}