html { padding:0 10px; }

body {
  margin:0;
  padding:10px 0;
  background-color:#fcfcfc;
}

#epiceditor-preview {
    background-color:#fcfcfc;
    font: 13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
    color: #333;
}

#epiceditor-preview p{
    margin:0 0 9px;
}
#epiceditor-preview h1,
#epiceditor-preview h2,
#epiceditor-preview h3,
#epiceditor-preview h4,
#epiceditor-preview h5,
#epiceditor-preview h6{
    margin:0;
    font-weight:bold;
    color:inherit;
    text-rendering:optimizelegibility;
}

#epiceditor-preview h1{
    font-size:30px;
    line-height:36px;
}
#epiceditor-preview h2{
    font-size:24px;
    line-height:36px;
}
#epiceditor-preview h3{
    font-size:18px;
    line-height:27px;
}
#epiceditor-preview h4,
#epiceditor-preview h5,
#epiceditor-preview h6{
    line-height:18px;
}
#epiceditor-preview h4{
    font-size:14px;
}
#epiceditor-preview h5{
    font-size:12px;
    margin-bottom: 5px;
}
#epiceditor-preview h6{
    font-size:11px;
    color:#999999;
    text-transform:uppercase;
}
#epiceditor-preview ul,
#epiceditor-preview ol{
    padding:0;
    margin:0 0 9px 25px;
}
#epiceditor-preview ul ul,
#epiceditor-preview ul ol,
#epiceditor-preview ol ol,
#epiceditor-preview ol ul{
    margin-bottom:0;
}
#epiceditor-preview ul{
    list-style:disc;
}
#epiceditor-preview ol{
    list-style:decimal;
}
#epiceditor-preview li{
    line-height:18px;
}
#epiceditor-preview dl{
    margin-bottom:18px;
}
#epiceditor-preview dt,
#epiceditor-preview dd{
    line-height:18px;
}
#epiceditor-preview dt{
    font-weight:bold;
    line-height:17px;
}
#epiceditor-preview dd{
    margin-left:9px;
}
#epiceditor-preview hr{
    margin:18px 0;
    border:0;
    border-top:1px solid #eeeeee;
    border-bottom:1px solid #ffffff;
}
#epiceditor-preview strong{
    font-weight:bold;
}
#epiceditor-preview em{
    font-style:italic;
}
#epiceditor-preview abbr[title]{
    cursor:help;
    border-bottom:1px dotted #999999;
}
#epiceditor-preview blockquote{
    padding:0 0 0 15px;
    margin:0 0 18px;
    border-left:5px solid #eeeeee;
}
#epiceditor-preview blockquote p{
    margin-bottom:0;
    font-weight:300;
}
#epiceditor-preview q:before,
#epiceditor-preview q:after,
#epiceditor-preview blockquote:before,
#epiceditor-preview blockquote:after{
    content:"";
}
#epiceditor-preview address{
    display:block;
    margin-bottom:18px;
    font-style:normal;
    line-height:18px;
}
#epiceditor-preview small{
    font-size:100%;
}
#epiceditor-preview cite{
    font-style:normal;
}
#epiceditor-preview code,
#epiceditor-preview pre{
    padding:0 3px 2px;
    font-family:Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size:12px;
    color:#333333;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        border-radius:3px;
}
#epiceditor-preview code{
    padding:2px 4px;
    color:#d14;
    background-color:#f7f7f9;
    border:1px solid #e1e1e8;
}
#epiceditor-preview pre{
    display:block;
    padding:8.5px;
    margin:0 0 9px;
    font-size:12.025px;
    line-height:18px;
    word-break:break-all;
    word-wrap:break-word;
    white-space:pre;
    white-space:pre-wrap;
    background-color:#f5f5f5;
    border:1px solid #ccc;
    border:1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
#epiceditor-preview pre code{
    padding:0;
    color:inherit;
    background-color:transparent;
    border:0;
}