{% if had_voted or instance.user == user or instance.author == user or not user.is_authenticated %}
    <div class="btn-group">
        <b class="btn btn-mini disabled">{{ score }}</b>
    </div>
{% else %}
    <div class="btn-group">
        <a class="minus_vote btn btn-mini" href="#" data-id="{{ object_id }}" data-value="-1">&ndash;</a>
        <b class="btn btn-mini disabled">{{ score }}</b>
        <a class="plus_vote btn btn-mini" href="#" data-id="{{ object_id }}" data-value="1">+</a>
    </div>
{% endif %}
