{% extends 'userena/base_userena.html' %}

{% block title %}Ошибка активации аккаунта{% endblock %}
{% block content_title %}<h2>Ваш аккаунт не может быть активирован</h2>{% endblock %}

{% block content %}
<p>Ваш аккаунт не может быть активирован, возможно ваш активации устарел.</p>
<p>Попробуйте пройти процедуру регистрации еще раз. Если у вас возникнут вопросы, то вяжитесь с администрацией сайта.</p>
{% endblock %}
