{% extends 'userena/base_userena.html' %}

{% block title %}Аккаунт отключен{% endblock %}
{% block content_title %}<h2>Этот аккаунт отключен</h2>{% endblock %}

{% block content %}
<p>Похоже, что этот аккаунт отключили.</p>
<p>Если вы считаете, что это сделано по ошибке или у вас возникли вопросы, свяжитесь с администрацией сайта.</p>
{% endblock %} 
