{% extends 'userena/base_userena.html' %}

{% block title %}Подтверждение почтового ящика{% endblock %}
{% block content_title %}<h2>Подтверждение почтового ящика</h2>{% endblock %}

{% block content %}
<p>На адрес {{viewed_user.userena_signup.email_unconfirmed}} отправлено письмо.</p>
<p>Для того, чтобы сделать этот адрес электронной почты основным для аккаунта {{viewed_user.username}} перейдите по ссылке в письме.</p>
{% endblock %}
