{% extends 'userena/base_userena.html' %}

{% block title %}Адрес электронной почты изменен{% endblock %}

{% block content_title %}<h2>Адрес электронной почты изменен</h2>{% endblock %}
{% block content %}
<p>Ваш новый адрес электронной почты сохранен, вы можете продолжить пользоваться сайтом {{site.name}}.</p>
{% endblock %}
