{% extends 'userena/base_userena.html' %}

{% block title %}Ошибка подтверждения почтового ящика{% endblock %}
{% block content_title %}<h2>Ваш почтовый ящик не может быть подтвержден</h2>{% endblock %}

{% block content %}
<p>Во время активации нового почтового ящика возникли проблемы.</p>
<p>Вы можете попробовать сменить его еще раз, может и получится.</p>
{% endblock %}
