{% extends 'userena/profile_detail.html' %}

{% block title %}Смена адреса электронной почты{% endblock %}
{% block content_title %}<h2>Смена адреса электронной почты</h2>{% endblock %}

{% block profile_details %}
<form action="" method="post" class="form-horizontal">
  {% csrf_token %}
    {% for field in form %}
        {% include 'field.html' %}
    {% endfor %}
    <div class="form-actions">
        <input type="submit" value="Сменить email" class="btn btn-large btn-primary" />
    </div>
</form>
{% endblock %}