{% load i18n %}

{% comment %}
<div class="btn-group abs-right">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon-cog"></i>
    <span class="caret"></span>
  </a>
    <ul class="dropdown-menu">
        <li class="{% if active == "detail" %}active{% endif %}"><a href='{% url userena_profile_detail user.username %}'>Профиль</a></li>
        <li class="{% if active == "edit" %}active{% endif %}"><a href='{% url userena_profile_edit user.username %}'>Редактировать</a></li>
        <li class="{% if active == "pass" %}active{% endif %}"><a href='{% url userena_password_change user.username %}'>Изменить пароль</a></li>
        <li class="{% if active == "email" %}active{% endif %}"><a href='{% url userena_email_change user.username %}'>Изменить email</a></li>
    </ul>
</div>
{% endcomment %}