{% extends 'userena/base_userena.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block content_title %}<h2>Восстановление пароля</h2>{% endblock %}


{% block content %}
<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    {% for field in form %}
        {% include 'field.html' %}
    {% endfor %}
    <div class="form-actions">
        <input type="submit" value="Отправить" class="btn btn-large btn-primary" />
        {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
    </div>
</form>
{% endblock %}
