{% extends 'userena/profile_detail.html' %}

{% block title %}Смена пароля{% endblock %}

{% block content_title %}<h2>Смена пароля</h2>{% endblock %}

{% block profile_details %}
<form action="" method="post" class="form-horizontal">
  {% csrf_token %}
    {% for field in form %}
        {% include 'field.html' %}
    {% endfor %}
    <div class="form-actions">
        <input type="submit" value="Сохранить пароль" class="btn btn-large btn-primary" />
    </div>
</form>
{% endblock %}
