{% extends 'userena/profile_detail.html' %}

{% block title %}Настройки аккаунта{% endblock %}

{% block content_title %}<h2>Настройки аккаунта</h2>{% endblock %}

{% block profile_details %}
<form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
  {% csrf_token %}
    {% for field in form %}
        {% include 'field.html' %}
    {% endfor %}
    <div class="form-actions">
        <input type="submit" value="Сохранить" class="btn btn-primary" />
    </div>
</form>
{% endblock %}
