{% extends 'base-1c.html' %}

{% block li-users %}active{% endblock %}

{% block title %}Профиль {{profile.get_full_name_or_username}}{% endblock %}
{% block content_title %}<h2>{{profile.get_full_name_or_username}}</h2>{% endblock %}

{% load blog guardian_tags wall_tags pagination relationship_tags %}

{% block content %}
    {% if perms.profile.change_profile %}
        {% include 'userena/navi.html' with active="detail" %}
    {% endif %}
    {% if not profile.user.is_active %}
        <div class="alert">
            Пользователь отключен от системы.
        </div>
    {% endif %}
    <div class="row-fluid">
        <div class="span4">
            <div class="mugshotdiv" style="text-align:center;">
                <img class="mugshot" src="{{ profile.get_mugshot_url }}" style="margin-bottom:15px;" alt="" />
            </div>
            {% get_obj_perms user for profile as "profile_perms" %}

            {% if user.is_authenticated %}
                {% if user != profile.user %}
                    {% if_relationship user profile.user "following" %}
                        <a class="btn btn-mini btn-block" href="{{ profile.user|remove_relationship_url:"following" }}">Удалить из друзей</a>
                    {% else %}
                        <a class="btn btn-mini btn-block" href="{{ profile.user|add_relationship_url:"following" }}">Добавить в друзья</a>
                    {% endif_relationship %}
                {% endif %}
                <a class="btn btn-mini btn-block" href="{% url userena_umessages_compose_to profile.user.username %}">Написать сообщение</a>
            {% endif %}
            <hr/>

            <p>Пришел {{ profile.user.date_joined|timesince }} назад{% if profile.user.relationships.invited %},
                пригласил
                    {% for invited in profile.user.relationships.invited %}
                        <a href="{{ invited.profile.get_absolute_url }}">{{ invited.profile.get_full_name_or_username }}</a>
                    {% endfor %}
            {% endif %}</p>
            <p>Баланс: {{profile.balance}} (акций: {{profile.stock}})</p>
            <p>Последний визит {% if profile.user.useractivity.last_activity_date %}{{ profile.user.useractivity.last_activity_date }}{% else %}{{ profile.user.last_login }}{% endif %}</p>
            {% if profile.age %}
                <p><b>Возраст</b> {{ profile.age }}</p>
            {% endif %}
            {% if profile.website %}
                <p><b>Сайт</b> {{ profile.website|urlize }}</p>
            {% endif %}
            {% if profile.location %}
                <p><b>Город</b> {{ profile.location }}</p>
            {% endif %}
            {% if profile.about_me %}
                <p><b>Обо мне</b><br/>
                    {{ profile.about_me }}</p>
            {% endif %}

            <hr/>

            {% if profile.user.relationships.friends %}
                <p><b>Друзья:</b><br/>
                {% for friend in profile.user.relationships.friends %}
                    <a href="{{ friend.profile.get_absolute_url }}">{{ friend.profile.get_full_name_or_username }}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
                </p>
            {% endif %}

            {% if profile.user.relationships.following %}
                <p><b>Читает:</b><br/>
                    {% for friend in profile.user.relationships.following %}
                        <a href="{{ friend.profile.get_absolute_url }}">{{ friend.profile.get_full_name_or_username }}</a>{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </p>
            {% endif %}

            {% if profile.user.relationships.followers %}
                <p><b>Читатели:</b><br/>
                {% for friend in profile.user.relationships.followers %}
                    <a href="{{ friend.profile.get_absolute_url }}">{{ friend.profile.get_full_name_or_username }}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
                </p>
            {% endif %}

            <p><b>Блоги:</b>
            {% get_user_blogs profile.user as blog_list %}
                <ul>
                    {% for blog in blog_list %}
                        <li><a href="{% url blog_detail blog.slug %}">{{blog.title}}</a></li>
                    {% endfor %}
                </ul>
            </p>
            {% if linkexchange_blocks.0 != '<!--1219604906152-->' %}<hr/><div class="well well-small" >
                {{linkexchange_blocks.0|safe}}
            </div>{% endif %}
        </div>
        <div class="span8">

            {% if 'change_profile' in profile_perms %}
                <div class="btn-group pull-right">
                    <a class="btn btn-warning" href='{% url userena_profile_detail profile.user.username %}'>Профиль</a>
                    <button class="btn dropdown-toggle btn-warning" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="{% if active == "edit" %}active{% endif %}"><a href='{% url userena_profile_edit profile.user.username %}'>Редактировать</a></li>
                        <li class="{% if active == "pass" %}active{% endif %}"><a href='{% url userena_password_change profile.user.username %}'>Изменить пароль</a></li>
                        <li class="{% if active == "email" %}active{% endif %}"><a href='{% url userena_email_change profile.user.username %}'>Изменить email</a></li>
                    </ul>
                </div>
            {% endif %}

        {% block profile_details %}

            {% get_wallitem_list for profile.user as wallitem_list %}
            {% autopaginate wallitem_list %}

        {% if user.is_authenticated %}
            {% get_wallitem_form for profile.user as wall_form %}

            <div class="commentfiles">
                <form id="ajaxform" method="post" action="/blogs/img/add/" enctype="multipart/form-data" id="postform">
                    <input name="image" type="file" />
                    {% csrf_token %}
                </form>
                <div id="userfiles">
                    {% load thumbnail %}
                    {% for i in images %}
                        <div class="comment_img">
                            <img src="{{i.file|thumbnail_url:'tocomment'}}"  />
                            <a class="add_img_to_c" href="#" data-url="{{i.file.url}}">вставить</a>
                            <a class="del_img_to_c" href="#" data-url="{{i.file.url}}" data-del="{% url blog_del_image i.id %}">x</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <form action="{% url wall-post-comment %}" class="form-horizontal" method="post">{% csrf_token %}
                <input type="hidden" name="next" value="{% url userena_profile_detail profile.user.username %}">
                {% for field in wall_form %}
                    {% if not field.is_hidden %}
                        <div class="control-group{% if field.errors %} error{% endif %}" id="fiels_{{ field.html_name }}">
                            {{ field }}
                            {% if field.help_text %}
                                <p class="help-block">{{ field.help_text|safe }}</p>
                            {% endif %}
                            {% if field.errors %}
                                <span class="help-inline">{{ field.errors }}</span>
                            {% endif %}
                        </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <input type="submit" name="post" value="Отправить" class="btn btn-success comment-submit" data-loading-text="Отправляется..." />
            </form>

        {% endif %}

            {% for item in wallitem_list %}
                {% include 'wall.html' with comment=item %}
            {% empty %}
                <p>Никто ничего не писал.</p>
            {% endfor %}

            {% if page_obj.has_other_pages %}
                {% url userena_profile_detail profile.user.username as baseurl %}
                {% include "_pagination.html" with baseurl=baseurl %}
            {% endif %}


        {% endblock %}

        </div>
    </div>

{% endblock %}

{% block js %}
    {% if user.is_authenticated %}
    <script type="text/javascript" src="http://yandex.st/jquery/form/3.09/jquery.form.min.js"></script>
    <script type="text/javascript" >

        $('#ajaxform input').change(function() {
            $('#ajaxform').ajaxSubmit({
                success: showResponse,
                dataType:'json'
            });
            return false;
        });

        function showResponse(data)  {
            if (data.status == 'error') {
                alert (data.message);
            } else {
                txt = '<div class="comment_img"><img src="' + data.files[0]['thumb_url'] + '" />';
                txt += '<a class="add_img_to_c" href="#" data-url="' + data.files[0]['original_url'] + '">вставить</a>';
                txt += '<a class="del_img_to_c" href="#" data-url="' + data.files[0]['original_url'] + '" data-del="' + data.files[0]['delete_link'] + '">x</a>';
                txt += '</div>';
                $('#userfiles').prepend(txt);
                $('#ajaxform input[type="file"]').attr('value', '');
            };
        }

        $('#userfiles .add_img_to_c').live('click', function(event) {
            event.preventDefault();
            var url = $(this).attr('data-url');
            $('#id_comment').insertAtCaret("!["+url+"]("+url+")");
        })

        var commentdiv = false;

        $('#userfiles .del_img_to_c').live('click', function(event) {
            event.preventDefault();
            var url = $(this).attr('data-url');
            window.commentdiv = $(this).parent();
            $.getJSON($(this).attr('data-del'), function(data) {
                if (data.status == 'error') {
                    alert(data.message);
                } else {
                    window.commentdiv.remove();
                };
            });
        })

    </script>
    {% endif %}
{% endblock %}