{% extends 'userena/base_userena.html' %}
{% load i18n thumbnail pymorphy_tags %}

{% block title %}Профили пользователей{% endblock %}

{% block content_title %}<h2>{% trans 'Profiles' %}</h2>{% endblock %}

{% block content %}
<table class="table">
  {% for profile in profile_list %}
  <tr class="{% if not profile.online %}offline{% else %}online{% endif %} user_status"><td style="width:60px;">
  {% if profile.mugshot %}
  <a href='{% url userena_profile_detail profile.user.username %}'><img src="{% thumbnail profile.mugshot 50x50 crop %}" /></a>
  {% endif %}
  </td><td>
  <a href='{% url userena_profile_detail profile.user.username %}'>{% if profile.user.get_full_name %}{{profile.user.get_full_name}}{% else %}{{ profile.user.username }}{% endif %}</a>
  <br>
  {{ profile.get_blogs_count }} {{ "блог"|plural:profile.get_blogs_count }},
  {{ profile.get_posts_count }} {{ "запись"|plural:profile.get_posts_count }},
  {{ profile.get_comments_count }} {{ "комментарий"|plural:profile.get_comments_count }}<br/>
  последний визит {% if profile.user.useractivity.last_activity_date %}{{ profile.user.useractivity.last_activity_date }}{% else %}{{ profile.user.last_login }}{% endif %}
  </td></tr>
  {% endfor %}
</table>

{% if is_paginated %}
     {% url userena_profile_list as baseurl %}
     {% include "_pagination.html" with baseurl=baseurl %}
{% endif %}
{% endblock %}
