{% extends 'userena/base_userena.html' %}

{% block title %}Вход{% endblock %}
{% block content_title %}<h2>Вход на сайт</h2>{% endblock %}

{% block content %}
<form action="" method="post" class="form-horizontal">
  {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
        {% include 'field.html' %}
    {% endfor %}
    <div class="form-actions">
        <input type="submit" value="Вход" class="btn btn-primary" />
        <a class="btn-danger btn" href='{% url userena_password_reset %}' title="Забыл свой пароль?">Забыл свой пароль?</a>
        {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
    </div>

</form>
{% endblock %}
